In [1]:
import pandas as pd

In [7]:
import pandas as pd

# Load the dataset
df = pd.read_csv("main_time_USD.csv")

usd_to_baht = 34

# Convert USD to Thai Baht for columns from Dec 23 to Dec 24
columns_to_convert = df.columns[6:]  # Columns from Dec 23 to Dec 24
for column in columns_to_convert:
    df[column] = df[column] * usd_to_baht

# Update currencyStringFormat to replace "USD" with "Baht"
df['currencyStringFormat'] = df['currencyStringFormat'].str.replace("USD", "Baht")

# Display the updated DataFrame
print(df)

      index  canvas_index currencyStringFormat  \
0         0             1               Baht%s
1         1             1               Baht%s
2      4076             1           Baht%s/sqm
3      4077             1           Baht%s/sqm
4         2             1               Baht%s
...     ...           ...                  ...
8147   4072             1               Baht%s
8148   8150             1           Baht%s/sqm
8149   4074             1               Baht%s
8150   4075             1               Baht%s
8151   8151             1           Baht%s/sqm

                                                   link  \
0     https://www.hipflat.co.th/en/projects/15-suite...
1     https://www.hipflat.co.th/en/projects/15-suite...
2     https://www.hipflat.co.th/en/projects/15-suite...
3     https://www.hipflat.co.th/en/projects/15-suite...
4     https://www.hipflat.co.th/en/projects/15-sukhu...
...                                                 ...
8147  https://www.hipflat.co.th/en/projects/zenith-p...
8148  https://www.hipflat.co.th/en/projects/zenithar...
8149  https://www.hipflat.co.th/en/projects/zenithar...
8150  https://www.hipflat.co.th/en/projects/zense-re...
8151  https://www.hipflat.co.th/en/projects/zense-re...

                                            condo_name             type  \
0                                      15-suite-buacrl            Price
1                                      15-suite-buacrl             Rent
2                                      15-suite-buacrl  Price Per Space
3                                      15-suite-buacrl   Rent Per Space
4                       15-sukhumvit-residences-htzxov            Price
...                                                ...              ...
8147                  zenith-place-sukhumvit-71-rnywvv            Price
8148               zenithar-penthouse-sukhumvit-cdmwcx  Price Per Space
8149               zenithar-penthouse-sukhumvit-cdmwcx            Price
8150  zense-residence-3ht1l37a1hu1ucu0947c3c2lct2n312n            Price
8151  zense-residence-3ht1l37a1hu1ucu0947c3c2lct2n312n  Price Per Space

        Dec 23    Jan 24    Feb 24    Mar 24    Apr 24    May 24    Jun 24  \
0     10488524  11390816  11353858  11316254  10673586  10805302  10364628
1        43792     44710     43180     42908     41786     41786     41650
2       150994    152082    152184    153136    150382    152388    149770
3          612       612       612       612       612       612       612
4     10488524  11390816  11353858  11316254  10673586  10805302  10364628
...        ...       ...       ...       ...       ...       ...       ...
8147  11993024  12619916  12773086  12626784  12045588  12668196  12413638
8148    150994    152082    152184    153136    150382    152388    149770
8149  10488524  11390816  11353858  11316254  10673586  10805302  10364628
8150     17544     19448     17034     15266     14824     15062     15674
8151       374       374       374       374       374       374       374

        Jul 24    Aug 24    Sep 24    Oct 24    Nov 24    Dec 24
0     10823390  11330908  11711334  11545346  11158494  11046396
1        42364     44914     46444     46172     45050     44846
2       150654    157080    162826    162010    159052    160480
3          612       612       646       646       646       646
4     10823390  11330908  11711334  11545346  11158494  11046396
...        ...       ...       ...       ...       ...       ...
8147  12761186  13341158  13895596  13708256  13238750  13056306
8148    150654    157080    162826    162010    159052    160480
8149  10823390  11330908  11711334  11545346  11158494  11046396
8150     15130     15708     16524     16354     15198     14960
8151       374       374       374       374       374       374

[8152 rows x 19 columns]

In [8]:
df.to_csv('main_historical_dataset.csv', index=False)

print("The DataFrame has been converted and saved to 'main_historical_dataset.csv'")

The DataFrame has been converted and saved to 'main_historical_dataset.csv'